/* Some BAT admin pages use tables for layout, so let's kill this default. */
tbody {
  border-top: none;
}

/* General styles for all BAT management forms */
.bat-management-form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.bat-management-form .form-item {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.bat-management-form .form-item label {
  margin: 0;
  display: block;
}
.bat-management-form .form-type-item label {
  display: inline;
}

.bat-management-form .form-type-radio label,
.bat-management-form .form-type-checkbox label {
  display: inline;
}

.bat-management-form .form-item-name .form-text {
  width: 100%;
}

.bat-management-form .form-type-select,
.bat-management-form .form-item-operation,
.bat-management-form .form-item-amount,
.bat-management-form .bat-date-range,
.bat-management-form .form-actions {
  float: left; /* LTR */
  margin: 0 20px 0 0; /* LTR */
  clear: none;
}

.bat-management-form .form-actions {
  padding-top: 1.6em;
  clear: both;
  float: none;
}

/* Fieldsets are floated by default, but if its collapsible, dont float it*/
.bat-management-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
  float: left; /* LTR */
  width: auto;
}
.bat-management-form fieldset.collapsible {
  float: none;
  clear: both;
  padding: 0;
  margin: 20px 0;
}
.bat-management-form .fieldset-legend,
.bat-management-form .fieldset-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: none;
}
.bat-management-form .fieldset-description {
  padding: 15px 0;
}

/* Fix for floated fieldsets around vertical tabs */
.bat-management-form .vertical-tabs,
.bat-management-form .field-group-tab-wrapper {
  clear: both;
}

.bat-month-manager .unit-name,
.bat-month-manager .unit-days {
  border-bottom: 1px solid #ccc !important;
}

/* Booking */
.view-booking-cart-form table,
.view-booking-checkout-form table,
.commerce-checkout-form-review table {
  width: 100%;
}
.views-field-line-item-title,
.views-field-line-item-label {
  width: 67%;
}
.page-bookings .views-field-commerce-total {
  text-align: right;
  padding-right: 1em;
}
.page-bookings .component-total {
  text-align: right;
  padding-right: 1em;
}
.page-bookings .views-field-commerce-unit-price,
.page-bookings .component-title {
  padding-left: 1em;
  padding-right: 1em;
}
.commerce-line-item-actions {
  margin: 20px 1em 20px 0;
}
