/* Theming for unit date range fields. */
.bat-date-range .start-date,
.bat-date-range .end-date {
  display: inline-block;
  clear: none;
  margin: 0;
}

.bat-date-range .start-date {
  margin-right: 20px; /* LTR */
}

/* Start and end date fields */
.js .bat-date-range .description {
  display: none;
}

.bat-date-range .form-text {
  width: 10em;
}

.bat-date-range .form-item {
  margin-right: 0;
}

.bat-date-range .container-inline-date > .form-item {
  margin-right: 0;
  display: block;
}

.bat-date-range .container-inline-date .form-item .form-item {
  float: none;
}

.bat-date-range .container-inline-date .form-item input {
  margin-right: 0;
  width: 10em;
}

.bat-date-range .form-type-textfield label {
  display: none;
}

.bat-date-range .date-padding,
.bat-date-range .container-inline-date .date-padding {
  padding: 0;
  float: none;
}
