.bat-unit-edit-form .field-widget-bat-addons-combined {
    max-width: inherit !important;
    margin-right: 0 !important;
    clear: both !important;
}

.field-widget-bat-addons-combined .field-multiple-table .form-item {
  float: left;
  margin-right: 20px;
}

.field-widget-bat-addons-combined .bat-option--remove-button {
  clear: both;
  float: right;
}

.field-widget-bat-addons-combined .ajax-progress {
	float: right;
	margin: 5px 10px 0 0;
}
