/* Unit edit form */
.bat-unit-edit-form .form-wrapper {
  margin: 0 20px 0.4em 0;
}

.bat-unit-edit-form .form-item {
  margin-bottom: 1em;
}

.bat-unit-edit-form .form-item label,
.bat-unit-edit-form .form-wrapper legend {
  margin-bottom: 0.2em;
}

.bat-unit-edit-form .form-item label,
.bat-unit-edit-form .form-wrapper .fieldset-legend {
  font-size: 1em;
  font-weight: bold;
}

.bat-unit-edit-form .form-checkbox + label {
  font-weight: normal;
}

.bat-unit-edit-form .form-checkbox:checked + label {
  font-weight: bold;
}

.bat-unit-edit-form .form-type-select {
  float: none;
}

.bat-unit-edit-form .form-item-name {
  width: 15em;
}

.bat-unit-edit-form .form-actions {
  clear: both;
  float: none;
}
