/* Update unit pricing form */
.unit-pricing-form .form-item-day-options {
  clear: both;
  width: 100%;
}
.unit-pricing-form .form-item-day-options .form-type-checkbox {
  float: none;
}

.modal-content .unit-pricing-form fieldset {
  margin-top: 0;
}
.modal-content .unit-pricing-form fieldset legend {
  display: none;
}
.modal-content .unit-pricing-form fieldset .fieldset-wrapper {
  display: block !important;
}
.page-admin-bat .modal-content .bat-management-form fieldset .bat-date-range {
  width: 100% !important;
  max-width: 100% !important;
}

/* Filter month form */
.bat-filter-month-form .form-item-month,
.bat-filter-month-form .form-item-year,
.bat-management-form .form-item,
.bat-filter-month-form .form-item-type {
  float: left;
  margin-right: 20px;
}
.bat-filter-month-form .form-item-month label,
.bat-filter-month-form .form-item-year label,
.bat-filter-month-form .form-item-type label {
  display: inline;
  margin-right: 4px;
}

/* Bulk pricing form */
.bat-bulk-pricing-form .fc-header {
  display: none;
}
.bat-bulk-pricing-form .fc-day-grid-container {
  overflow-y: hidden;
  height: 60px;
}
.bat-bulk-pricing-form .form-item-day-options {
  float: left;
  margin-right: 20px;
}
.bat-bulk-pricing-form .form-item-day-options .form-type-checkbox {
  display: inline;
}
.bat-bulk-pricing-form .form-item-day-options .form-checkboxes:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fc-day-grid-container {
  overflow-y: hidden;
}
.fc-title {
  color: white;
}
