/* Ensure that datepicker is visible in the modal popup. */
#ui-datepicker-div {
  z-index: 1005 !important;
}

#bat-event-ui-event-type-form {
  display: inline-block;
}
#bat-event-ui-event-type-form .form-item-event-types,
#bat-event-ui-event-type-form #unit-type-wrapper {
  float: left;
  margin-right: 10px;
}

#bat-event-ui-event-type-form input[type="submit"] {
  margin-top: 1.6em;
}

#bat-event-ui-bulk-update-form .bat-date-range,
#bat-event-ui-bulk-update-form .form-type-select {
  float: left;
  margin-left: 20px;
  clear: none;
  padding: 0;
}

#bat-event-ui-bulk-update-form input[type="submit"] {
  margin-top: 2.1em;
}
