.fc-timeline-event .fc-content {
  padding: 8px;
}

.fc-time-area .fc-event-container {
  padding-bottom: 0;
}

.fc-scrollpane-inner {
  padding-bottom: 0 !important;
}

.fc-timeline-event.fc-not-start .fc-title:before, .fc-body .fc-time-area .fc-following:before {
	display: none;
}
