/* Header styles */
.fc-header-title {
  text-align: center;
}
.fc-header-title h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.fc-header {
  border: none;
}
.fc-header tbody,
.fc-header tr,
.fc-header th,
.fc-header td {
  background-color: transparent;
  border: none !important;
}
.fc-header td {
  padding: 8px 0;
}
.fc-header .fc-state-default,
.fc-header .ui-state-default {
  margin-bottom: 0;
}
