
.bat-availability-field-calendar .fc-content-skeleton .fc-event-container a {
  border-radius: 0px;
}

.bat-availability-field-calendar .fc-content-skeleton .fc-event-container .event-start {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  bottom: -8px;
  left: 0px;
  border-width: 8px;
}

.bat-availability-field-calendar .fc-content-skeleton .fc-event-container .event-end {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  bottom: -11px;
  left: 0px;
  border-width: 8px;
}

.bat-availability-field-calendar .fc-content-skeleton .fc-event-container .event-end {
  margin-bottom: 26px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg);
}

.bat-availability-field-calendar .fc-event .fc-title {
  color:white;
}

.bat-availability-field-calendar .fc-event .fc-title:hover {
  color:white;
}

.bat-availability-field-calendar .fc-unthemed .fc-popover,
.bat-availability-field-calendar .fc-unthemed .fc-row,
.bat-availability-field-calendar .fc-unthemed hr,
.bat-availability-field-calendar .fc-unthemed tbody,
.bat-availability-field-calendar .fc-unthemed td, .fc-unthemed th,
.bat-availability-field-calendar .fc-unthemed thead {
  border-color:white;
}

.bat-availability-field-calendar .fc-event-container {
  padding-top: 2px;
  padding-bottom: 4px;
}