{#
/**
 * @file bat-type-group.html.twig
 * Default theme implementation to present Type Group data.
 *
 * This template is used when viewing Type Group pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bat_type_group()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('type-group') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
