{#
/**
 * @file
 * Default theme implementation to list unit bundles available for adding unit.
 *
 * Available variables:
 * - types: A list of unit bundles, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_bat_unit_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <ul class="admin-list">
    {% for type in types %}
      <li class="clearfix"><span class="label">{{ type.add_link }}</span></li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_content = path('entity.bat_unit_bundle.collection') %}
    {% trans %}
      You have not created any unit bundle yet. Go to the <a href="{{ create_content }}">unit bundle creation page</a> to add a new unit bundle.
    {% endtrans %}
  </p>
{% endif %}
