{#
/**
 * @file bat-unit-type.html.twig
 * Default theme implementation to present Unit type data.
 *
 * This template is used when viewing Unit type pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bat_type_group()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('unit-type') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
