/* Booking edit form */
.bat-booking-form .form-actions {
  float: none;
  clear: both;
}

.bat-booking-form .bat-booking-date-range-wrapper {
  float: none;
  padding: 0;
  margin: 0 0 1em;
}

.bat-booking-form .bat-booking-availability-button-wrapper {
  clear: both;
}

.bat-booking-form .bat-booking-availability-wrapper fieldset {
  background: none;
  float: none;
  clear: both;
  margin-bottom: 0;
}

.bat-booking-form .bat-booking-availability-wrapper .fieldset-description {
  padding: 0;
}
